
header {
  border: 2px solid black;
  height: 55px;
}
header h1 {
  text-align: center;
}

button {
  height: 30px;
  width: 100px;
  margin: 5px 20px;
}

.filter {
  display: inline-block;
}
.filter ul {
  list-style-type: none;
}

main {
margin: 0;
display: flex;
}

.side-events {
  flex:1;
  height: 800px;
  margin: 0;
  border: 1px solid black;

}

.map-events {
  flex:4;
  padding: 0;
  border: 1px solid black;
}
