
header {
  border: 2px solid black;
  height: 55px;
}
header h1 {
  text-align: center;
}

button {
  margin: 5px 10px;
}
main {
margin: 0;
display: flex;
}

.side-events {
  flex:1;

  height: 800px;
  margin: 0;
  border: 2px solid black;

}

.map-events {
  flex:4;
  padding: 0;

  border: 2px solid black;
}
