.complex-box{
  display: grid;
  grid-template-columns: minmax(9em, 45em);
  grid-template-rows: repeat(8, auto);
  border: 1px solid #e2e2e2;
  border-radius: 2px 2px;
  margin: 0 0 2em 1em;
  padding: 1em;
 }

 .event-box{
  display: grid;
  grid-template-columns: minmax(9em, 45em);
  grid-template-rows: repeat(8, auto);

 }
 .image-holder {
  grid-row: 1/4;
  pointer-events: none;
 }

 img {
  width: 100%;
  height:100%;
  object-fit: cover;
  transition: transform 200ms linear;
  pointer-events: none;
 }

 img:hover{
  transform: scale(1.05);
 }
 
 .name, .address, .intro, .date-n-time {
  margin: 0 0 1em 0;
  font-family: “Hind”;
  font-size: 0.875em;
  pointer-events: none;
 }
 .event-url a {
  text-decoration: none;
 }
 .event-url a:hover {
  text-decoration: underline;
 }
 .name{
  grid-row: 4/5;
  font-weight: 600;
  margin-top: 1em;
 }
 .address{
 grid-row: 5/6;
 }
 .date-n-time{
  grid-row: 6/7;
 }
 .intro{
  grid-row: 7/8;
 }
 .event-url{
  grid-row: 8/9;
 }
 @media all and (min-device-width: 280px) and (max-device-width: 500px) {
  .event-box{
    margin: 0;
  }
  .map-wrapper{
  }
 }
 