* {
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

html, body, #root, .App {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
}

.App {
  display: grid;
  grid-template-columns: 1fr minmax(0, 15em) 1em minmax(0, 40em) 1fr;
  grid-template-rows: repeat(3, auto 1em) 1fr 1em auto;
}

header, nav, article, aside, footer {
  border: 1px solid gray;
}

header, nav, article, aside {
  margin: 0;
}

header, footer, nav {
  grid-column: 1/6;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: -2;
  height: 40vh;
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(0.5);
}

#logo-holder {
  width: 100%;
  height: 0;
}

#logo-holder span {
  color: #b4c92b;
}

#logo {
  position: absolute;
  top: 1em;
  left: 1em;
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
}

#logo span {
  text-transform: lowercase;
}

#sub-logo {
  position: absolute;
  top: 5em;
  left: 2.1em;
  font-family: 'Hind', serif;
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  color: white;
}

nav {
  grid-row: 2/4; /* 2/5 */
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #b4c92b;
}

nav ul {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  justify-content: flex-start;
  color: #fff;
}

.container {
  display: block;
  position: relative;
  position: relative;
  margin-bottom: 0.75em;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container:first-child {
  margin-top: 0.75em;
}

.main-menu {
  height: 100%;
  padding: 0;
}

.main-menu, .sub-menu {
  list-style: none;
  margin: 0;
}

.mainMenuElement {
  display: block;
  width: 7em;
  padding: 0.6em 0 0.6em 1.75em;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-align: center;
}

.main-menu li:hover .sub-menu {
  display: flex;
}

.sub-menu {
  position: absolute;
  display: none;
  top: 2.42em;
  background-color: #fff;
  color: #292929;
  font-weight: 400;
  border: 1px #e2e2e2 solid;
  border-top: #fff solid;
  border-radius: 0 0 2px 2px;
}

#innerFormWrapper{
  display: flex;
}

article {
  grid-column: 1/3; /*1/5*/
  grid-row: 5/8;
  min-height: 100vh;
  background-color: white;
}

.EventBox {
  display: flex;
  border-bottom: 1px #e2e2e2 solid;
  margin-bottom: 20px;
  border-radius: 2px;
}

article :last-child{
  border-bottom: none;
}

aside {
  min-height: 20vh;
}

[id^="mapHolder"] {
  grid-column: 4/6;
}

#mapHolder {
  grid-row: 5/8;
}

.sticky {
  position: sticky;
  top: 2em;
}

footer {
  grid-row: 9/10;
  min-height: 20vh;
  background-color: #292929;
  color: #fff;
}

footer ul {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  justify-content: flex-start;
  color: #fff;
}
